<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">{{getProjectType(project.type)}} </span>
                    {{project.name}}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="/project/{{project.id}}"><span class="price-a">xem chi tiết</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Intro Section -->

<!-- ======= Services Section ======= -->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Bất động sản</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-cart"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Đô thị</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Tập trung phát triển các dự án bất động sản nhà ở Trung tâm TP.HCM và Bất động sản Đô thị vệ tinh tại các
              tỉnh thành lân cận.
            </p>
          </div>
          <div class="card-footer-c">
            <a [routerLink]="['/project/urban']" routerLinkActive="router-link-active" class="link-c link-icon">Xem
              thêm
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-calendar4-week"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Du lịch</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">Tiếp tục phát triển bất động sản Du lịch tại các thành phố có tiềm năng du lịch.
            </p>
          </div>
          <div class="card-footer-c">
            <a [routerLink]="['/project/tourism']" routerLinkActive="router-link-active" class="link-c link-icon">Xem
              thêm
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-card-checklist"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Công nghiệp</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Tập trung nghiên cứu và phát triển các cụm Khu công nghiệp ở các tỉnh thành như Bà Rịa - Vũng Tàu, Đồng
              Nai, Long An, Tây Ninh...
            </p>
          </div>
          <div class="card-footer-c">
            <a [routerLink]="['/project/industrial']" routerLinkActive="router-link-active" class="link-c link-icon">Xem
              thêm
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

<!-- ======= Latest Properties Section ======= -->
<section class="section-property section-t8" *ngIf="project.id">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Dự án mới nhất</h2>
          </div>
          <div class="title-link">
            <a [routerLink]="['/project']" routerLinkActive="router-link-active">Xem tất cả
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="property-carousel" class="swiper">
      <div class="swiper-wrapper">
        <div class="carousel-item-b swiper-slide">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img [src]="project.pathImage" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="/project/{{project.id}}">{{project.name}}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <a href="/project/{{project.id}}" class="link-a">Xem chi tiết
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End carousel item -->
      </div>
    </div>
  </div>
</section><!-- End Latest Properties Section -->

<!-- ======= Latest News Section ======= -->
<section class="section-news section-t8" *ngIf="content.id">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Tin tức mới nhất</h2>
          </div>
          <div class="title-link">
            <a [routerLink]="['/news']" routerLinkActive="router-link-active">Xem tất cả
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="news-carousel" class="swiper">
      <div class="swiper-wrapper">
        <div class="carousel-item-c swiper-slide">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img [src]="content.pathImage" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <div class="category-b">{{getContentTypeStr(content.type)}}</div>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="/content/{{content.id}}">{{content.title}}</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">{{content.createdDate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End carousel item -->
      </div>
    </div>
  </div>
</section><!-- End Latest News Section -->

<!-- ======= Agents Section ======= -->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Đối tác</h2>
          </div>
          <div class="title-link">
            <a [routerLink]="['/partner']" routerLinkActive="router-link-active">Xem tất cả
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let partner of partners">
        <div class="card-box-d">
          <div class="card-img-d">
            <img [src]="partner.pathImage" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="/partner/{{partner.id}}" class="link-two">{{partner.name}}</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                {{partner.address}}
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Số điện thoại: </strong> {{partner.telephone}}
                </p>
                <p>
                  <strong>Email: </strong> {{partner.email}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Agents Section -->