<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a [routerLink]="['']" routerLinkActive="router-link-active" class="brand-link">
    <div class="d-flex justify-content-center">
      <span class="brand-text font-weight-bold text-uppercase" style="font-size: 30px; line-height: 30px;">nov</span>
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="img-circle elevation-3"
        style="opacity: .8;line-height: .8;margin-right: .5rem;margin-top: -3px;max-height: 33px;width: auto;">
    </div>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img *ngIf="credential.image; else none" src="upload/{{credential.user.pathImage}}"
          class="img-circle elevation-2" alt="User Image">
        <ng-template #none>
          <img class="img-circle elevation-2" src="../../../assets/dist/img/defaul-avatar.png" alt="User Image none">
        </ng-template>
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
          class="d-block">{{credential.user.fullName}}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header" style="text-transform: uppercase;">management</li>

        <li class="{{item.paClass}}" *ngFor="let item of menu">
          <a *ngIf="item.children && item.children.length > 0; else noChildren" class="{{item.class}}">
            <i class="nav-icon {{item.icon}}"></i>
            <p> {{item.title}} <i class="fas fa-angle-left right"></i></p>
          </a>

          <ng-template #noChildren>
            <a routerLink="{{item.path}}" routerLinkActive="router-link-active" (click)="onChangePage(item)"
              class="{{item.class}}">
              <i class="nav-icon {{item.icon}}"></i>
              <p> {{item.title}} </p>
            </a>
          </ng-template>

          <ul class="nav nav-treeview" *ngIf="item.children && item.children.length > 0"
            [ngStyle]="{'display': childDisplay}">
            <li class="nav-item" *ngFor="let child of item.children">
              <a routerLink="{{child.path}}" routerLinkActive="router-link-active" (click)="onChangePage(item, child)"
                class="{{child.class}}">
                <i class="{{child.icon}} nav-icon"></i>
                <p>{{child.title}}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>