<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Các loại hình dự án</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Phân loại dự án
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            Bất động sản đô thị
          </div>
          <div class="col-md-6 col-lg-6">

          </div>

        </div>
      </div>
    </div>
  </div>
</section>