<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{content.title}}</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/content']" routerLinkActive="router-link-active">Bài viết</a>
            </li>
            <li class="breadcrumb-item active text-uppercase" aria-current="page">
              {{content.title}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img [src]="content.pathImage" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="post-information">
          <ul class="list-inline text-center color-a">
            <li class="list-inline-item mr-2">
              <strong>Người tạo: </strong>
              <span class="color-text-a">{{user.fullName}}</span>
            </li>
            <li class="list-inline-item mr-2">
              <strong>Phân loại: </strong>
              <span class="color-text-a">{{getContentTypeStr(content.type)}}</span>
            </li>
            <li class="list-inline-item">
              <strong>Ngày tạo: </strong>
              <span class="color-text-a">{{content.createdDate}}</span>
            </li>
          </ul>
        </div>
        <div class="post-content color-text-a">
          <div [ngxSummernoteView]=content.mainContent></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Blog Single-->