<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img *ngIf="credential.image; else none" class="profile-user-img img-fluid img-circle"
                  src="upload/{{credential.image}}" alt="user avatar">

                <ng-template #none>
                  <img class="profile-user-img img-fluid img-circle" src="../../../assets/dist/img/defaul-avatar.png"
                    alt="user avatar default">
                </ng-template>
              </div>

              <h3 class="profile-username text-center">{{credential.user.fullName}}</h3>

              <p class="text-muted text-center">{{credential.role[0].role.name}}</p>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
              <p class="text-muted"> {{credential.user.address}}</p>
              <hr>

              <strong><i class="fas fa-book mr-1"></i> Email</strong>
              <p class="text-muted"> {{credential.user.email}} </p>
              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Telephone</strong>
              <p class="text-muted"> {{credential.user.telephone}}</p>
              <hr>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <!-- <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li> -->
                <li class="nav-item"><a class="active nav-link" href="#settings" data-toggle="tab">Settings</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">
                  <form class="form-horizontal" [formGroup]="form">
                    <div class="form-group row">
                      <label for="fullName" class="col-sm-2 col-form-label">Họ và tên</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="fullName" placeholder="Họ và tên"
                          formControlName="fullName">
                        <mat-error class="textError"
                          *ngIf="form.controls.fullName.touched && form.controls.fullName.hasError('required')">
                          Họ và tên không được bỏ trống
                        </mat-error>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="fullName" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập"
                          formControlName="username">
                        <mat-error class="textError"
                          *ngIf="form.controls.username.touched && form.controls.username.hasError('required')">
                          Tên đăng nhập không được bỏ trống
                        </mat-error>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                        <mat-error class="textError"
                          *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                          Email không được bỏ trống
                        </mat-error>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="telephone" class="col-sm-2 col-form-label">Điện thoại</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="telephone" placeholder="Điện thoại"
                          formControlName="telephone">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="address" placeholder="Địa chỉ"
                          formControlName="address"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button (click)="onSave()" class="btn btn-danger">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->