<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Role</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active">Role</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <form class="w-100" [formGroup]="form">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-md" placeholder="Nhập tìm kiếm"
                      formControlName="role">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-md btn-default" (click)="getData(true)">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>

                <!-- <button style="width: 150px;" title="Thêm mới nhân viên" class="btn btn-primary btn-md ml-3"
                  (click)="onAddEdit('add')">
                  <i class="fas fa-plus"></i> Thêm mới
                </button> -->
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 10px">#</th>
                    <th class="text-center" style="width: 200px;">Quyền</th>
                    <th class="text-center">Nhân sự thuộc quyền</th>
                    <!-- <th class="text-center" style="width: 200px;">Thao tác</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of datasource">
                    <td>{{item.stt}}</td>
                    <td>{{item.name}}</td>
                    <td>
                      <button title="Phân quyền {{item.name}}" class="btn btn-primary btn-sm mr-2"
                        (click)="onAddUserRole(item)"><i class="fas fa-edit"></i></button> |
                      <span class="ml-2">
                        {{item.listUser}}
                      </span>
                    </td>

                    <!-- <td>
                      <div class="d-flex">
                        <button class="btn btn-primary mr-3" (click)="onEditRole(item)">Chỉnh sửa</button>
                        <button class="btn btn-danger" (click)="onDeleteRole(item)">Xoá</button>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <app-pagination [page]="paging" (pageChangeEvent)="pageChange($event)"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>