<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{partner.name}}</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/partner']" routerLinkActive="router-link-active">Đối tác</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Chi tiết
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img [src]="partner.pathImage" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="post-information">
          <ul class="list-inline text-center color-a">
            <li class="list-inline-item mr-2">
              <strong>Số điện thoại: </strong>
              <span class="color-text-a">{{partner.telephone}}</span>
            </li>
            <li class="list-inline-item mr-2">

            </li>
            <li class="list-inline-item">
              <strong>Email: </strong>
              <span class="color-text-a">{{partner.email}}</span>
            </li>
          </ul>
          <div class="text-center">
            <strong>Địa chỉ: </strong>
            <span class="color-text-a">{{partner.address}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Blog Single-->