<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Bài viết</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"> Bài viết </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- =======  Blog Grid ======= -->
<section class="news-grid grid">
  <div class="container">
    <!-- <div class="row">
      <div class="col-sm-12">
        <div class="grid-option">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-8 d-flex align-items-center">
                <input type="text" placeholder="Nhập tìm kiếm theo tiêu đề..." class="form-control mr-4"
                  (blur)="onBlurSearch()" formControlName="project">
              </div>
              <div class="col-sm-4">
                <select class="form-control" formControlName="phase" (change)="onChangePhase()">
                  <option selected value="0">--Tất cả--</option>
                  <option *ngFor="let item of contentType" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-4" *ngFor="let item of datasource">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img [src]="item.pathImage" alt="" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <div class="category-b">{{getContentTypeStr(item.type)}}</div>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="/content/{{item.id}}">{{item.title}}</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">{{item.createdDate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <app-grid-pagination [page]="paging" (pageChangeEvent)="pageChange($event)"></app-grid-pagination>
      </div>
    </div>
  </div>
</section><!-- End Blog Grid-->