<div class="modal" style="display: block;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modal.title}}</h4>
        <button type="button" class="close" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 600px; overflow: auto;">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="name">Tên sự kiện</label>
              <input class="form-control" id="name" name="name" type="text" formControlName="name"
                placeholder="Nhập tên sự kiện...">
              <mat-error class="textError"
                *ngIf="form.controls.name.touched && form.controls.name.hasError('required')">
                Tên sự kiện không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="description">Mô tả sự kiện</label>
              <textarea class="form-control" formControlName="description" rows="3"
                placeholder="Nhập mô tả sự kiện..."></textarea>
              <mat-error class="textError"
                *ngIf="form.controls.description.touched && form.controls.description.hasError('required')">
                Mô tả sự kiện không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-6 form-group">
              <label for="start">Ngày bắt đầu</label>
              <div class="input-group">
                <div class="custom-file">
                  <input class="form-control" placeholder="dd/MM/yyyy" matInput [matDatepicker]="start"
                    formControlName="start">
                </div>
                <div class="input-group-append">
                  <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                  <mat-datepicker #start></mat-datepicker>
                </div>
              </div>
              <mat-error class="textError"
                *ngIf="form.controls.start.touched && form.controls.start.hasError('required')">
                Ngày bắt đầu sự kiện không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-6 form-group">
              <label for="end">Ngày kết thúc</label>
              <div class="input-group">
                <div class="custom-file">
                  <input class="form-control" placeholder="dd/MM/yyyy" matInput [matDatepicker]="end"
                    formControlName="end">
                </div>
                <div class="input-group-append">
                  <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                  <mat-datepicker #end></mat-datepicker>
                </div>
              </div>
              <mat-error class="textError" *ngIf="form.controls.end.touched && form.controls.end.hasError('required')">
                Ngày kết thúc sự kiện không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-12 form-group">
              <label for="status">Trạng thái</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="status"
                placeholder="Chọn trạng thái sự kiện">
                <mat-option *ngFor="let item of eventStatus" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.status.touched && form.controls.status.hasError('required')">
                Trạng thái không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-12 form-group">
              <label for="type">Loại sự kiện</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="type"
                placeholder="Chọn loại sự kiện">
                <mat-option *ngFor="let item of eventType" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>

              <mat-error class="textError"
                *ngIf="form.controls.type.touched && form.controls.type.hasError('required')">
                Loại sự kiện không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-12 form-group">
              <label for="projectIds">Dự án</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="projectIds" multiple
                placeholder="Chọn dự án">
                <mat-option *ngFor="let item of listProject" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.projectIds.touched && form.controls.projectIds.hasError('required')">
                Dự án không được bỏ trống
              </mat-error>
            </div>
          </div>
        </form>

        <!-- <div class="col-md-12 form-group">
          <label for="userId">Ảnh cover (chọn 1)</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="coverImage"
                (change)="onUploadCoverImage($event.target.files)">
              <label class="custom-file-label" for="coverImage">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>

          <img width="100%" *ngIf="coverImageUrl" [src]="coverImageUrl" class="image">
        </div>

        <div class="col-md-12 form-group">
          <label for="userId">Ảnh mô tả (chọn nhiều)</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" multiple class="custom-file-input" id="contentImage"
                (change)="onUploadContentImage($event.target.files)">
              <label class="custom-file-label" for="contentImage">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
          <img width="100%" *ngIf="contentImageUrl" [src]="contentImageUrl" class="image">

        </div> -->
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" mat-dialog-close>Đóng</button>
        <button *ngIf="modal.type !== 'view'" type="button" class="btn btn-primary" (click)="onSave()">Lưu</button>
      </div>
    </div>
  </div>
</div>