<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Liên hệ</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"> Liên hệ </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Contact Single ======= -->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">
          <div id="map" class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.79016559612!2d106.6953021!3d10.7769942!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f385570472f%3A0x1787491df0ed8d6a!2zRGluaCDEkOG7mWMgTOG6rXA!5e0!3m2!1svi!2s!4v1700323023330!5m2!1svi!2s"
              width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-12 section-t8">
        <div class="row">
          <div class="col-md-7">
            <form class="php-email-form" [formGroup]="form">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <input type="text" name="fullName" formControlName="fullName"
                      class="form-control form-control-lg form-control-a" placeholder="Họ và tên" required>
                    <mat-error class="textError"
                      *ngIf="form.controls.fullName.touched && form.controls.fullName.hasError('required')">
                      Họ và tên là trường bắt buộc
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <input type="email" name="email" formControlName="email"
                      class="form-control form-control-lg form-control-a" placeholder="Email">
                    <mat-error class="textError"
                      *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                      Email là trường bắt buộc
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" name="telephone" formControlName="telephone"
                      class="form-control form-control-lg form-control-a" placeholder="Số điện thoại">
                    <mat-error class="textError"
                      *ngIf="form.controls.telephone.touched && form.controls.telephone.hasError('required')">
                      Số điện thoại là trường bắt buộc
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" name="address" formControlName="address"
                      class="form-control form-control-lg form-control-a" placeholder="Địa chỉ">
                  </div>
                </div>

                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-a" (click)="onSubmit()">Đăng ký nhận thông tin</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5 section-md-t3">
            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="bi bi-envelope"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Liên hệ với chúng tôi</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">Email.
                    <span class="color-a">{{Info.email}}</span>
                  </p>
                  <p class="mb-1">Phone.
                    <span class="color-a">{{Info.phone}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="bi bi-geo-alt"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Địa chỉ</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">
                    {{Info.address}}
                  </p>
                </div>
              </div>
            </div>
            <div class="icon-box">
              <div class="icon-box-icon">
                <span class="bi bi-share"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Mạng xã hội</h4>
                </div>
                <div class="icon-box-content">
                  <div class="socials-footer">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="https://{{Info.facebook}}" class="link-one" target="_blank">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Contact Single-->