<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Nhân viên</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active">Nhân viên</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Danh sách nhân viên</h3>
              <button title="Thêm mới nhân viên" class="btn btn-primary btn-sm float-sm-right" (click)="onAdd()">
                <i class="fas fa-plus"></i> Thêm mới
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered" mat-table [dataSource]="userData">
                <!-- <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of userData">
                    <td>{{item.stt}}</td>
                    <td>{{item.name}}</td>
                    <td>
                      <div class="d-flex">
                        <button class="btn btn-primary mr-3" (click)="onEdit(item)">Chỉnh sửa</button>
                        <button class="btn btn-danger" (click)="onDelete(item)">Xoá</button>
                      </div>
                    </td>
                  </tr>
                </tbody> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <ng-container matColumnDef="stt">
                  <th mat-header-cell *matHeaderCellDef>STT</th>
                  <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                  <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                  <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>



              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>