<div class="modal fade show" id="modal-xl" data-keyboard="false" aria-modal="true" role="dialog"
  style="padding-right: 15px; display: block;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modal.title}}</h4>
        <button type="button" class="close" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 600px; overflow: auto;">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="name">Tên dự án</label>
              <input class="form-control" id="name" name="name" type="text" formControlName="name"
                placeholder="Nhập tên dự án...">
              <mat-error class="textError"
                *ngIf="form.controls.name.touched && form.controls.name.hasError('required')">
                Tên dự án không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="content">Mô tả</label>
              <div [ngxSummernote]="config" [ngxSummernoteDisabled]="modal.type == 'view'" formControlName="content">
              </div>

              <mat-error class="textError"
                *ngIf="form.controls.content.touched && form.controls.content.hasError('required')">
                Mô tả dự án không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="type">Loại dự án</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="type"
                placeholder="Chọn loại dự án">
                <mat-option *ngFor="let item of projectType" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.type.touched && form.controls.type.hasError('required')">
                Loại dự án không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="phase">Giai đoạn</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="phase"
                placeholder="Chọn giai đoạn">
                <mat-option *ngFor="let item of projectPhase" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.phase.touched && form.controls.phase.hasError('required')">
                Giai đoạn không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="partnerIds">Đơn vị thi công</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="partnerIds" multiple
                placeholder="Chọn đối tác thi công ">
                <mat-option *ngFor="let item of listPartner" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.partnerIds.touched && form.controls.partnerIds.hasError('required')">
                Đơn vị thi công không được bỏ trống
              </mat-error>
            </div>
            <div class="col-md-12 form-group">
              <label for="userId">Nhân viên sale phụ trách</label>
              <mat-select class="custom-select form-control-border border-width-2" formControlName="userId"
                placeholder="Chọn nhân viên phụ trách">
                <mat-option *ngFor="let item of listUser" [value]="item.id">{{item.fullName}}</mat-option>
              </mat-select>
              <mat-error class="textError"
                *ngIf="form.controls.userId.touched && form.controls.userId.hasError('required')">
                Nhân viên phụ trách không được bỏ trống
              </mat-error>
            </div>

            <div class="col-md-12 form-group">
              <label for="coverImage">Ảnh cover</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="coverImage" formControlName="coverImage"
                    (change)="onUploadCoverImage($event.target.files)">
                  <label class="custom-file-label" for="coverImage">Chọn 1 ảnh</label>
                </div>
              </div>
              <mat-error class="textError"
                *ngIf="form.controls.coverImage.touched && form.controls.coverImage.hasError('required')">
                Ảnh cover không được bỏ trống
              </mat-error>
              <div class="d-flex justify-content-center">
                <img width="30%" *ngIf="coverImageUrl" [src]="coverImageUrl" class="image mt-1">
              </div>
            </div>

            <div class="col-md-12 form-group">
              <label for="userId">Ảnh mô tả</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" multiple class="custom-file-input" id="contentImage" formControlName="contentImage"
                    (change)="onUploadContentImage($event.target.files)">
                  <label class="custom-file-label" for="contentImage">Chọn nhiều ảnh</label>
                </div>
              </div>
              <mat-error class="textError"
                *ngIf="form.controls.contentImage.touched && form.controls.contentImage.hasError('required')">
                Ảnh mô tả không được bỏ trống
              </mat-error>
              <ng-container *ngIf="contentImageUrl">
                <img width="20%" *ngFor="let item of contentImageUrl" [src]="item" class="image mr-1 mt-1">
              </ng-container>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" mat-dialog-close>Đóng</button>
        <button *ngIf="modal.type !== 'view'" type="button" class="btn btn-primary" (click)="onSave()">Lưu</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>