<!-- ======= Footer ======= -->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">{{Info.companyName}}</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              {{Info.companyDescription}}
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Điện thoại .</span> {{Info.phone}}
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> {{Info.email}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['about']" routerLinkActive="router-link-active">Giới thiệu</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['project']" routerLinkActive="router-link-active">Dự án</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['news']" routerLinkActive="router-link-active">Tin tức</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['contact']" routerLinkActive="router-link-active">Liên hệ</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://{{Info.facebook}}" class="link-one" target="_blank">
                <i class="bi bi-facebook" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">{{Info.companyName}}</span> All Rights Reserved.
          </p>
        </div>
        <div class="credits">
          <!--
           All the links in the footer should remain intact.
           You can delete the links only if you purchased the pro version.
           Licensing information: https://bootstrapmade.com/license/
           Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
         -->
          Designed by <a href="https://github.com/zurachan" target="_blank">zurachan</a>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->