@import url("../../../node_modules/angular-notifier/styles.css");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.textError {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}