<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single text-uppercase">{{project.name}}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/project']" routerLinkActive="router-link-active">Dự án</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">
                {{project.name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row row d-flex justify-content-center">
        <div class="col-lg-8">
          <img style="max-width: inherit;" [src]="project.pathImage" alt="project image">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Tóm tắt dự án</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Loại dự án</strong>
                      <span>{{getProjectTypeStr(project.type)}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Giai đoạn</strong>
                      <span>{{getProjectPhaseStr(project.phase)}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Đơn vị thi công</strong>
                      <span>{{getPartnerName(project.partnerIds)}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Mô tả dự án</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <div [ngxSummernoteView]=project.content></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Nhân viên tư vấn</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img src="assets/img/agent-4.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent">{{user.fullName}}</h4>
                <p class="color-text-a">{{user.biography}}</p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Số điện thoại:</strong>
                    <span class="color-text-a">{{user.telephone}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a">{{user.email}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Địa chỉ:</strong>
                    <span class="color-text-a">{{user.address}}</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-12 col-lg-4">
              <div class="property-contact">
                <form class="form-a" [formGroup]="form">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" formControlName="fullName" id="fullName" placeholder="Họ và tên *"
                          class="form-control form-control-lg form-control-a" required>
                        <mat-error class="textError"
                          *ngIf="form.controls.fullName.touched && form.controls.fullName.hasError('required')">
                          Họ và tên là trường bắt buộc
                        </mat-error>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" formControlName="email" id="email" placeholder="Email *"
                          class="form-control form-control-lg form-control-a" required>
                        <mat-error class="textError"
                          *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                          Email là trường bắt buộc
                        </mat-error>
                        <mat-error class="textError"
                          *ngIf="form.controls.email.touched && form.controls.email.hasError('pattern')">
                          Email không đúng định dạng
                        </mat-error>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" formControlName="telephone" id="telephone" placeholder="Số điện thoại *"
                          class="form-control form-control-lg form-control-a" required>
                        <mat-error class="textError"
                          *ngIf="form.controls.telephone.touched && form.controls.telephone.hasError('required')">
                          Số điện thoại là trường bắt buộc
                        </mat-error>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea formControlName="address" id="address" placeholder="Địa chỉ"
                          class="form-control form-control-lg form-control-a" name="address" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <button type="button" class="btn btn-a" (click)="onSubmit()">Đăng ký nhận thông tin</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Property Single-->

</main><!-- End #main -->