<nav class="pagination-a">
  <ul class="pagination justify-content-end">
    <li *ngIf="page.totalPages > 1 && page.previousPage != null" class="page-item">
      <a class="page-link" (click)="pageChange(page.firstPage, page.pageSize)"><span class="bi bi-chevron-left"></span>
      </a>
    </li>

    <li *ngIf="page.previousPage != null" class="page-item"><a class="page-link"
        (click)="pageChange(page.previousPage, page.pageSize)">{{page.previousPage}}</a></li>

    <li class="page-item active"><a class="page-link">{{page.pageNumber}}</a></li>

    <li *ngIf="page.nextPage != null" class="page-item"><a class="page-link"
        (click)="pageChange(page.nextPage, page.pageSize)">{{page.nextPage}}</a></li>

    <li *ngIf="page.totalPages > 1 && page.nextPage != null" class="page-item">
      <a class="page-link" (click)="pageChange(page.lastPage, page.pageSize)"><span
          class="bi bi-chevron-right"></span></a>
    </li>
    
  </ul>
</nav>