<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single text-uppercase">Đối tác</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Đối tác
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="grid-option">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <input type="text" placeholder="Nhập tìm kiếm theo tên đối tác..." class="form-control mr-4"
                  (blur)="onBlurSearch()" formControlName="partner">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let item of datasource">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img [src]="item.pathImage" alt="" class="img-a img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="/partner/{{item.id}}">{{item.name}}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <a href="/partner/{{item.id}}" class="link-a">Xem chi tiết
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-grid-pagination [page]="paging" (pageChangeEvent)="pageChange($event)"></app-grid-pagination>
      </div>
    </div>
  </div>
</section>